// Custom styles.
// 鼠标样式
* {
    cursor: url("/images/jian.ico"),auto!important
}
:active {
    cursor: url("/images/dun.ico"),auto!important
}

// 网站标题栏背景颜色
.site-meta {
  background: #3b5999; //修改为自己喜欢的颜色
}

// 主页文章添加阴影效果
 .post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }